#test{
    
    border-top: 5px dotted rgb(109, 15, 81);
    border-right: 5px dotted rgb(109, 15, 81);
    border-bottom: 5px dotted rgb(109, 15, 81);
    position: relative;

}
#test1{
    
    border-right: 5px dotted rgb(109, 15, 81);
    border-bottom: 5px dotted rgb(109, 15, 81);
    position: relative;

}
#test2{
    border-top: 5px double rgb(32, 70, 240);
    border-right: 5px double rgb(32, 70, 240);
    border-bottom: 5px double rgb(32, 70, 240);
    position: relative;

}
#test3{
    border-right: 5px double rgb(32, 70, 240);
    border-bottom: 5px double rgb(32, 70, 240);
    position: relative;

}

canvas {
    position: absolute;
}

.all{
    border:10px solid white;
    width: 200px;
    height: 200px;
}
.shape-box{
    float: left;
    height: 100px;
    position: relative;
}
.tool-box{
    float: left;
    height: 100px;
    position: relative;
}
 .font-box{
    float: left;
    height: 100px;
    position: relative;
}
 .color-box{
    float: left;
    height: 100px;
    position: relative;
}
.color-box ul{
	list-style-type: none;
}
.shape-box ul{
	list-style-type: none;
}
.tool-box ul{
	list-style-type: none;
}
 .font-box ul{
	list-style-type: none;
}

.tool-box ul li{
    padding:10px;
}
.shape-box ul li{
    padding:10px;
}



.color-box ul li{
    padding: 4px;
}
